.background-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  color: #414141;
  flex-direction: column;
}

.background-container h4 {
  padding: 2rem 2rem 1rem;
  font-weight: 700;
  text-decoration: underline;
  color: #0f8064;
}

#icon-container {
  display: none;
}

#background-description {
  text-align: center;
  font-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 2rem 0;
  background-color: #f9f6f6;
}

#first-description {
  font-size: 140%;
  padding: 0 2rem;
}

#lawn-img {
  width: 550px;
  object-fit: contain;
  border-radius: 1rem;
  height: 100%;
  margin: 0 2rem;
}

@media only screen and (min-width: 1221px) and (max-width: 1440px) {
  #first-description {
    font-size: 140%;
  }

  #lawn-img {
    width: 500px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  #first-description {
    font-size: 130%;
  }

  #lawn-img {
    width: 420px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  #background-description {
    flex-direction: column;
  }

  #lawn-img {
    margin-top: 2rem;
  }

  #first-description {
    padding: 0 3rem;
    font-size: 120%;
  }
}
