@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

#header-navbar {
  margin: 0 auto;
  width: 1300px;
  z-index: 9001;
  background-color: white;
  color: black;
  letter-spacing: 2px;
}

#header-brand {
  padding: 0.5rem 1rem 0;
  letter-spacing: 3px;
}


#header-links {
  margin: 0 0.5rem;
}

#nav-left {
  display: flex;
}

#nav-right {
  margin-left: auto;
  align-items: center;
}

#first-c {
  color: #0f8064;
  font-weight: 700;
  font-size: 200%;
  font-family: 'Luckiest Guy', cursive;
}

#second-c {
  color: #414141;
  font-weight: 700;
  font-size: 200%;
  font-family: 'Luckiest Guy', cursive;
}

@media only screen and (min-width: 1221px) and (max-width: 1440px) {
  #header-navbar {
    max-width: 1200px;
  }
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  #header-navbar {
    max-width: 950px;
  }
}

@media only screen and (min-width: 801px) and (max-width: 1000px) {
  #header-navbar {
    max-width: 750px;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  #header-navbar {
    max-width: 540px;
    background-color: rgba(255, 255, 255, 0.95);
  }

  #navigation-links {
    display: none;
  }
}

@media only screen and (max-width: 550px) {
  #header-navbar {
    width: 100%;
    max-width: 500px;
    padding: 0 8px;
    background-color: rgba(255, 255, 255, 0.97);
  }

  #navigation-links {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  #header-navbar {
    max-width: 350px;
  }
}
