@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.hero-container {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-container img {
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: rgba(116, 26, 26, 0.35) 0px 5px 15px;
  width: 380px;
}

.hero-container h1 {
  font-family: 'Roboto', sans-serif;
  margin-top: 3rem;
  font-size: 280%;
  font-weight: 400;
}

.hero-container h1 span {
  color: #0f8064;
  font-weight: 700;
}

.hero-container h3 {
  font-size: 150%;
  color: #414141;
}

#hero-message {
  margin: 2rem 0 0;
  font-size: 380%;
  font-weight: 300;
  color: #414141;
}

#hero-message strong {
  font-weight: 700;
}

#hero-message-span {
  text-decoration: underline;
}

.left-div,
.right-div {
  width: 45%;
}

.right-div {
  order: -1;
}

#menu-icon-div {
  display: none;
}

.hero-container hr {
  display: none;
}

#button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-button {
  background-color: #0f8064;
  margin: 5rem 1rem 0;
  font-size: 120%;
  width: 22rem;
  font-weight: 400;
  text-transform: none;
}

#contact-button {
  color: #0f8064;
  margin: 2rem 1rem;
  font-weight: 400;
  font-size: 120%;
  width: 22rem;
  background-color: white;
  border-width: 2px;
  border-color: #0f8064;
  text-transform: none;
}

#project-button:hover {
  font-weight: 500;
  background-color: #14876a;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#contact-button:hover {
  font-weight: 500;
  background-color: rgb(245, 245, 245);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  .hero-container img {
    width: 350px;
  }

  .hero-container h1 {
    font-size: 240%;
  }

  .hero-container h3 {
    font-size: 140%;
  }

  #hero-message {
    font-size: 300%;
  }

  #project-button {
    font-size: 115%;
    width: 18rem;
  }

  #contact-button {
    font-size: 115%;
    width: 18rem;
  }
}

@media only screen and (max-width: 1000px) {
  .hero-container {
    flex-direction: column;
    padding: 8rem 0;
  }

  .right-div {
    order: 1;
  }

  .right-div,
  .left-div {
    width: 100%;
  }

  .hero-container img {
    width: 400px;
  }

  .hero-container h1 {
    font-size: 280%;
  }

  .hero-container h3 {
    font-size: 160%;
  }

  #hero-message {
    font-size: 350%;
    padding: 0 2rem 4rem;
  }

  #button-container {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #project-button {
    font-size: 115%;
    width: 20rem;
    margin: 0;
  }

  #contact-button {
    font-size: 115%;
    width: 20rem;
  }
}

@media only screen and (min-width: 551px) and (max-width: 800px) {
  .hero-container {
    min-height: auto;
  }

  .hero-container img {
    width: 350px;
  }

  .hero-container h1 {
    font-size: 250%;
  }

  .hero-container h3 {
    font-size: 140%;
  }

  #hero-message {
    margin: 1rem 0 0;
    font-size: 350%;
  }

  #button-container {
    flex-direction: column;
  }

  #project-button,
  #contact-button {
    font-size: 115%;
    width: 24rem;
  }
}

@media only screen and (max-width: 550px) {
  .hero-container {
    min-height: auto;
  }

  .hero-container img {
    width: 320px;
  }

  .hero-container h1 {
    font-size: 220%;
    margin-top: 1rem;
  }

  .hero-container h3 {
    font-size: 130%;
  }

  #hero-message {
    margin: 1rem 0 0;
    font-size: 290%;
    padding: 0 1rem 4rem;
  }

  #button-container {
    flex-direction: column;
  }

  #contact-button {
    margin: 1rem 1rem;
  }

  #project-button {
    margin: 0;
  }

  #project-button,
  #contact-button {
    font-size: 115%;
    width: 24rem;
  }
}

@media only screen and (max-width: 400px) {
   .hero-container {
    padding: 5rem 0 2rem;
  }

  .hero-container img {
    max-width: 280px;
  }

  .hero-container h1 {
    font-size: 190%;
  }

  .hero-container h3 {
    font-size: 120%;
  }

  #hero-message {
    font-size: 240%;
    padding: 0 0 2rem;
  }

  #button-container {
    flex-direction: column;
  }

  #project-button,
  #contact-button {
    font-size: 115%;
    width: 95%;
  }
}
