.projects-desktop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.projects-desktop-container h4 {
  text-align: center;
  padding: 2rem 2rem 1rem;
  font-weight: 700;
  text-decoration: underline;
  color: #0f8064;
}

.projects-desktop-card {
  display: flex;
  margin-bottom: 2rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.projects-desktop-card-dark {
  background-color: rgb(114, 114, 114);
  box-shadow: rgb(255, 255, 255) 0px 2px 4px 0px,
    rgb(255, 255, 255) 0px 2px 16px 0px;
}

.card-desktop-image {
  max-width: 60%;
  height: auto;
  margin-right: 1rem;
  flex-direction: row;
}

.card-desktop-right {
  flex-grow: 1;
  padding-right: 0.5rem;
}

.card-desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#card-desktop-title {
  font-size: 155%;
  font-weight: 700;
}

.card-desktop-title-dark {
  color: #dbdbdb !important;
}

.each-skills {
  margin: 0 0.5rem 0.5rem;
  background-color: #e5e5e5;
  padding: 2px 8px;
  border-radius: 8px;
}

.desktop-link-buttons:nth-child(2) {
  margin-left: 1rem;
}

.card-desktop-text {
  font-size: 120%;
  margin: 1rem 0;
}

.card-desktop-text-dark {
  color: #dbdbdb !important;
}

.card-desktop-skills {
  display: flex;
  font-size: 70%;
  flex-wrap: wrap;
  width: 100%;
  justify-content: start;
}

#desktop-see-more-button {
  background-color: #0f8064;
  margin: 0 0 2rem;
  font-size: 120%;
  width: 22rem;
  font-weight: 400;
  text-transform: none;
  border: none;
  height: 3.5rem;
}

#desktop-see-more-button:hover {
  font-weight: 500;
  background-color: #14876a;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

@media only screen and (min-width: 1221px) and (max-width: 1440px) {
}

@media only screen and (min-width: 1001px) and (max-width: 1220px) {
  #card-desktop-title {
    font-size: 145%;
  }

  .card-desktop-text {
    font-size: 105%;
    margin: 1rem 0;
  }
}
