.projects-desktop-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5rem 0 2rem;
}

.projects-desktop-container h3 {
  display: none;
}

.projects-desktop-card {
  display: flex;
}

.projects-desktop-card img {
  display: flex;
  width: 60%;
  margin: 1rem 3rem;
  flex-direction: row;
}

.card-desktop-right {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 1rem 5rem 1rem 0;
}

.card-desktop-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#card-desktop-title {
  font-size: 155%;
  font-weight: 700;
}

.card-desktop-links button:nth-child(2) {
  margin: 0 1rem;
}

#card-desktop-text {
  font-size: 120%;
  margin: 1rem 0;
}

.card-desktop-skills button {
  margin-left: 1rem;
  font-size: 70%;
}

.card-desktop-skills button:first-child {
  margin-left: 0;
}

#desktop-see-more-button {
  background-color: #0f8064;
  margin: 2rem 0 4rem;
  font-size: 120%;
  width: 22rem;
  font-weight: 400;
  text-transform: none;
  border: none;
}

#desktop-see-more-button:hover {
  font-weight: 500;
  background-color: #14876a;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
