.skills-container {
  color: #414141;
}

.skills-container h4 {
  text-align: center;
  padding: 2rem 2rem 1rem;
  font-weight: 700;
  text-decoration: underline;
  color: #0f8064;
}

.skills {
  padding: 0 5rem;
}

.skills p {
  display: inline-block;
  background-color: #0f8064;
  color: #ffffff;
  padding: 8px 16px;
  margin: 8px;
  border-radius: 5px;
  font-weight: bold;
}

.skills ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.skills li {
  background-color: #e5e5e5;
  color: #414141;
  padding: 2px 6px;
  margin: 8px;
  border-radius: 5px;
}

#icon-container {
  display: none;
}

@media only screen and (max-width: 1220px) {
  .skills {
    padding: 8px 16px;
  }
}

@media only screen and (max-width: 1000px) {
  .skills-container h4 {
    text-align: start;
  }
}
