.background-container {
  background-color: #EEE;
  /* text-align: center; */
  height: 100vh;
  padding: 4rem 2rem 1rem;
}

h4 {
  text-decoration: underline;
  color: #0f8064;
}

p {
  margin-top: 1rem;
  padding: 0 1rem;
}