@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');
.hero-container {
  background-color: #e5e5e5;
  text-align: center;
  min-height: 100vh;
}

.hero-container img {
  margin: 0 auto;
  border-radius: 50%;
  box-shadow: rgba(116, 26, 26, 0.35) 0px 5px 15px;
}

.hero-container h1 {
  font-family: 'Roboto', sans-serif;
}

.hero-container h1 span {
  color: #0f8064;
}

.hero-container h3 {
  font-weight: 700;
  color: darkslategrey;
}

#hero-message {
  color: darkslategray;
}

#hero-message-span {
  text-decoration: underline;
}

#project-button {
  background-color: #0f8064;
  text-transform: none;
}

#contact-button {
  text-transform: none;
  color: #0f8064;
  border-color: #0f8064;
}

@media only screen and (max-width: 425px) {
  .hero-container {
    padding-top: 2rem;
  }

  .hero-container img {
    width: 250px;
  }

  .hero-container h1 {
    margin-top: 2rem;
    font-size: 180%;
    font-weight: 400;
  }

  .hero-container h1 span {
    font-weight: 900;
  }

  .hero-container h3 {
    font-size: 110%;
  }

  hr {
    margin: 0.5rem 1rem 0;
  }

  #hero-message {
    margin: 2rem 2rem 0;
    font-size: 210%;
  }

  .button-style {
    width: 75%;
    height: 3rem;
  }

  #project-button {
    margin-top: 2rem;
    font-weight: 700;
    font-size: 120%;
  }

  #contact-button {
    margin-top: 1rem;
    font-weight: 700;
    font-size: 120%;
    background-color: white;
  }

  #menu-icon-div {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: #0f8064;
    color: white;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
  }

  #menu-icon {
    font-size: 200%;
  }
}

@media only screen and (min-width: 425px) and (max-width: 834px) {
  .hero-container {
    padding-top: 5.5rem;
    min-height: 100vh - 3.5rem;
  }

  .hero-container img {
    width: 320px;
  }

  .hero-container h1 {
    margin-top: 2rem;
    font-size: 170%;
    font-weight: 400;
  }

  .hero-container h1 span {
    font-weight: 900;
  }

  .hero-container h3 {
    font-size: 110%;
  }

  .hero-container hr {
    margin: 2rem auto;
    width: 70%;
  }

  #hero-message {
    text-align: center;
    font-size: 230%;
    margin: 0 10rem;
    max-width: 100%;
    box-sizing: border-box;
  }

  #button-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #project-button {
    margin: 2rem 1rem;
    font-weight: 700;
    font-size: 120%;
    width: 15rem;
  }

  #contact-button {
    margin: 2rem 1rem;
    font-weight: 700;
    font-size: 120%;
    width: 15rem;
    background-color: white;
  }

  #menu-icon-div {
    display: none;
  }
}

@media only screen and (min-width: 835px) {
  .hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8rem 0;
  }

  .left-div, .right-div {
    width: 45%;
  }

  .right-div {
    order: -1;
  }

  .hero-container h1 {
    margin-top: 3rem;
    font-size: 280%;
    font-weight: 400;
  }

  .hero-container h1 span {
    font-weight: 700;
  }

  .hero-container h3 {
    font-size: 150%;
  }

  .hero-container img {
    width: 420px;
  }

  #hero-message {
    margin: 2rem 6rem 0;
    font-size: 400%;
    font-weight: 300;
  }

  #hero-message strong {
    font-weight: 700;
  }

  #menu-icon-div {
    display: none;
  }

  .hero-container hr {
    display: none;
  }

  #button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #project-button {
    margin: 5rem 1rem 0;
    font-weight: 700;
    font-size: 120%;
    width: 23rem;
  }

  #contact-button {
    margin: 2rem 1rem;
    font-weight: 700;
    font-size: 120%;
    width: 23rem;
    background-color: white;
  }
}
