.what-container {
  background-color: #e5e5e5;
  min-height: 100vh;
}

@media only screen and (max-width: 390px) {
  .what-container h4 {
    padding: 4rem 1.5rem 1rem;
    font-weight: 700;
    text-decoration: underline;
    color: #0f8064;
  }

  #what-description {
    padding: 0 2rem;
  }

  #tool-container {
    padding: 0 2rem;
  }

  .grid-col {
    word-wrap: break-word;
    max-width: 100%;
  }

  #icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 3rem;
  }

  #build-icon {
    font-size: 64px;
    margin: 0 1rem;
    color: darkslategrey;
  }
}

@media only screen and (min-width: 425px) and (max-width: 834px) {
  .what-container h4 {
    display: none;
  }

  .what-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
  }

  #what-description {
    width: 60%;
    text-align: center;
    font-size: 170%;
  }

  #tool-container {
    margin: 2rem 0;
    padding: 0 7rem;
  }

  #icon-container {
    display: none;
  }
}

@media only screen and (min-width: 835px) {
  .what-container h4 {
    display: none;
  }

  .what-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6rem 3rem;
  }

  #what-description {
    width: 80%;
    text-align: center;
    font-size: 220%;
    margin: 0 auto 2rem;
  }

  #what-text {
    width: 60%;
  }

  #tool-container div {
    padding: 0 7rem;
    font-size: 110%;
  }

  .what-container img {
    padding: 1rem;
    width: 40%;
    object-fit: contain;
    margin: 0 auto;
  }

  #icon-container {
    display: none;
  }
}
